div.header {
  background: linear-gradient(#09AAC1, #FFFAFB);
  margin-bottom: 5%;
  width: 100%;
  overflow: hidden; }

div.header div.top-right-corner {
  text-align: right; }
  div.header div.top-right-corner a {
    font-size: 18px;
    margin-right: 4%;
    color: #FFFAFB; }
  div.header div.top-right-corner a:last-child {
    margin-right: 0; }

div.header div.logo {
  vertical-align: bottom;
  text-align: left; }
  div.header div.logo * {
    vertical-align: bottom;
    text-align: left; }
  div.header div.logo img {
    margin-left: 40px; }
  div.header div.logo a {
    display: inline-block;
    font-size: 26px;
    color: #FF9F07;
    text-decoration: none; }
  div.header div.logo a.current {
    color: #FF4A07; }
  div.header div.logo div.search {
    padding: 0;
    margin: 0;
    border: 0; }
    div.header div.logo div.search form.search {
      text-align: right;
      display: inline-flex;
      height: 26px;
      width: 100%; }
      div.header div.logo div.search form.search .searchBox {
        flex: 1;
        background-color: transparent;
        border-style: solid;
        border-color: #000708;
        border-width: 1px;
        height: 26px; }
      div.header div.logo div.search form.search #loupe {
        flex: 0 0 0;
        height: 26px;
        width: 26px;
        position: relative;
        right: 52px; }

body {
  border: 0;
  padding: 0;
  margin: 0; }
  body * {
    font-family: 'Century Gothic';
    color: #000708; }

.center {
  text-align: center;
  font-size: 26px; }

.right {
  text-align: right; }

input {
  display: inline-block;
  margin: 10px;
  color: #FF9F07;
  width: 100%;
  font-size: 21px; }

form {
  text-align: center; }

.col-1 {
  width: 8.25%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-1 {
  margin-left: 8.33333%;
  display: inline-block; }

.col-2 {
  width: 16.5%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-2 {
  margin-left: 16.66667%;
  display: inline-block; }

.col-3 {
  width: 24.75%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-3 {
  margin-left: 25%;
  display: inline-block; }

.col-4 {
  width: 33%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-4 {
  margin-left: 33.33333%;
  display: inline-block; }

.col-5 {
  width: 41.25%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-5 {
  margin-left: 41.66667%;
  display: inline-block; }

.col-6 {
  width: 49.5%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-6 {
  margin-left: 50%;
  display: inline-block; }

.col-7 {
  width: 57.75%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-7 {
  margin-left: 58.33333%;
  display: inline-block; }

.col-8 {
  width: 66%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-8 {
  margin-left: 66.66667%;
  display: inline-block; }

.col-9 {
  width: 74.25%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-9 {
  margin-left: 75%;
  display: inline-block; }

.col-10 {
  width: 82.5%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-10 {
  margin-left: 83.33333%;
  display: inline-block; }

.col-11 {
  width: 90.75%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-11 {
  margin-left: 91.66667%;
  display: inline-block; }

.col-12 {
  width: 99%;
  display: inline-block;
  position: relative;
  box-sizing: border-box; }

.col-offset-12 {
  margin-left: 100%;
  display: inline-block; }

.button {
  background-image: url("../images/bouton.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  height: 57px;
  width: 180px;
  padding: 0px;
  vertical-align: middle;
  color: #FFFAFB;
  font-weight: 26px; }

.clear {
  clear: both;
  display: block;
  width: 100%; }

.imgPromo {
  height: 60px;
  width: 60px;
  margin-right: 30px;
  border-radius: 10px; }

.LogInTextBox {
  padding: 0;
  margin: 0;
  width: 360px;
  display: inline-block;
  text-align: left; }
  .LogInTextBox input {
    margin-left: 0; }

.RedReminder {
  font-size: 21px;
  color: #FF4A07;
  display: block;
  text-decoration: underline; }

/*# sourceMappingURL=connexion.css.map */
