@import "variables.scss";
@import "dropdown.scss";

.facture {
    display: flex;
    flex-flow:  column nowrap;
    justify-content: space-between;
    width: 90%;
    box-sizing: border-box;
    padding: 20px;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;
    border: $Orange solid 2px;
}

.flex {
    display: flex;
    flex-flow:  row nowrap;
}

.vertical {
    display: inline-flex;
    flex-flow: column nowrap;
    flex:3;

    :nth-child(2){
        //Numéro de confirmation + prix
        color: $Bleu;
        font-size: $Moyen;
    }
}

.num{
    flex: 1;
    color: $Rouge;
    font-size: $Moyen;
}

.nom{
    text-decoration: underline;
    font-weight: bold;
    font-size: $Moyen;
}

.date{
    color: $Orange;
    font-size: $Moyen;
}
.detail-filler{
    flex: 2;
}
.detail-facture{
    display: inline-flex;
    text-align: right;
    align-self: flex-end;
    position: relative;
    top: 10px;
    font-weight: bold;
    font-size: $Petit;

    :last-child{
        text-decoration: underline;
        align-self: flex-end;
    }

    .services{
        display: flex;
        flex-flow: column nowrap;

        :last-child{
            text-decoration: none;
        }

        .service{    
            width: 60vw;
            display: inline-flex;
            flex-flow: row nowrap;
            font-weight: normal;
            text-align: right;
            margin-top: 6px;
            div{
                display: inline-block;
                font-weight: normal;
                flex: 1;
            }

            div:first-child{
                flex:2;
                text-align: left;
            }
        
        }

        .promo{
            @extend .service;
            margin-top:0;
            * {
                color:$Rouge;
            }
        }
    }
}

