//CSS pour l'en-tête
div.header {
    background: linear-gradient($Bleu, $Blanc);
    margin-bottom: 5%;
    width: 100%;
    overflow: hidden;
}

//Liens en haut a droite dans l'en-tête
div.header div.top-right-corner {
    text-align: right;

    a{
        font-size: $Petit;
        margin-right: 4%;
        color:$Blanc;        
    }
    a:last-child{
        margin-right:0; 
    }
}

//Liens dans le bas de l'en-tête
div.header div.logo{

    vertical-align: bottom;
    text-align: left;

    *{
        vertical-align: bottom;
        text-align: left;
    }

    img{
        margin-left: 40px;
    }

    a{
        display: inline-block;
        font-size:$Grand;
        color:$Orange;
        text-decoration: none;
    }

    a.current{
        color:$Rouge;
    }

    div.search{
        padding: 0;
        margin: 0;
        border: 0;
        form.search{
            text-align: right;
            display: inline-flex;
            height: $Grand;
            width:100%;
            .searchBox{
                flex:1;
                background-color: rgba(0, 0, 0, 0);
                border-style: solid;
                border-color: $Noir;
                border-width: 1px;
                height: $Grand;
            }

            #loupe{
                flex:0 0 0;
                height: $Grand;
                width: $Grand;
                position: relative;
                right: 2*$Grand;

            }
        }
    }
}