//CSS pour l'en-tête
div.header {
    background: linear-gradient($Bleu, $Blanc);
    margin-bottom: 5%;
    width: 100%;
    overflow: visible;
    z-index: 0;
}

//Liens en haut a droite dans l'en-tête
div.header div.top-right-corner {
    text-align: right;

    a{
        font-size: $Petit;
        margin-right: 4%;
        color:$Blanc;        
    }
    a:last-child{
        margin-right:0; 
    }
}

//Liens dans le bas de l'en-tête
div.header div.logo{

    vertical-align: bottom;
    text-align: left;

    *{
        vertical-align: bottom;
        text-align: left;
    }

    img{
        margin-left: 40px;
    }

    a{
        display: inline-block;
        font-size:$Grand;
        color:$Orange;
        text-decoration: none;
    }

    a.current{
        color:$Rouge;
    }

    div.search{
        padding: 0;
        margin: 0;
        border: 0;
        form.search{
            text-align: right;
            display: inline-flex;
            height: $Grand;
            width:100%;
            .searchBox{
                flex:1;
                background-color: rgba(0, 0, 0, 0);
                border-style: solid;
                border-color: $Noir;
                border-width: 1px;
                height: $Grand;
            }

            #loupe{
                flex:0 0 0;
                height: $Grand;
                width: $Grand;
                position: relative;
                right: 2*$Grand;

            }
        }
    }
}
.buttonRecherche{
    background-size: 80px;
    position: relative;
    left: 65%;
      height: 40px !important;
    width: 80px !important;
}

#loupe2{
            flex: 0 0 0;
        height: 26px;
        width: 26px;
        position: relative;
        left: 40%;
        top: -13px;
}


.inputRecherche {
    width:90%;}

.inputRechercheDate {
    width:38%;}

.dropdown {
    position: relative;
    display: inline-block;
        z-index: 10;
    overflow: visible;
    margin:0;
    text-align: right;
}

.dropdown-content {
    text-align-last: right;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:100%;
    border:solid 2px black;
    margin-top: 14px;
    margin-left: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}